# Start
start-at-login = true
after-login-command = []
after-startup-command = []

# Globals
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 15                                                 # 0 to disable
automatically-unhide-macos-hidden-apps = true

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

# Focus
# on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[key-mapping]
preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
[gaps]
inner.horizontal = 2
inner.vertical = 2
outer.left = 2
outer.bottom = 2
outer.top = 2
outer.right = 2

# Possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right
# All possible modifiers: cmd, alt, ctrl, shift

[mode.main.binding]
#################
# APPS
#################
# See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
# You can uncomment the following lines to open up terminal with alt + enter shortcut (like in i3)
# alt-enter = '''exec-and-forget osascript -e '
# tell application "Terminal"
#     do script
#     activate
# end tell'
# '''
ctrl-alt-g = 'exec-and-forget open -a "Ghostty" ~'
ctrl-alt-z = 'exec-and-forget open -a "Zen Browser"'
ctrl-alt-w = 'exec-and-forget open -n -a "Firefox"'
ctrl-alt-v = 'exec-and-forget code -n || open -na "Visual Studio Code"'

#################
# FOCUS & MOVE
#################
# See: https://nikitabobko.github.io/AeroSpace/commands#focus
ctrl-alt-shift-left = 'focus left --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'
ctrl-alt-shift-down = 'focus down --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'
ctrl-alt-shift-up = 'focus up --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'
ctrl-alt-shift-right = 'focus right --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'

shift-ctrl-alt-tab = 'workspace next --wrap-around'
cmd-shift-ctrl-alt-tab = 'workspace prev --wrap-around'

shift-ctrl-alt-space = 'workspace-back-and-forth'


shift-ctrl-alt-quote = 'move-mouse window-lazy-center'

shift-ctrl-alt-equal = 'fullscreen'

shift-ctrl-alt-rightSquareBracket = 'layout floating tiling' # Kinda unusable without Rectangle...
shift-ctrl-alt-f20 = 'flatten-workspace-tree'                # Resets

# See: https://nikitabobko.github.io/AeroSpace/commands#layout
ctrl-alt-shift-slash = 'layout tiles horizontal vertical'
ctrl-alt-shift-backslash = 'layout accordion horizontal vertical'

# See: https://nikitabobko.github.io/AeroSpace/commands#move
cmd-ctrl-alt-shift-left = 'move left'
cmd-ctrl-alt-shift-down = 'move down'
cmd-ctrl-alt-shift-up = 'move up'
cmd-ctrl-alt-shift-right = 'move right'

# See: https://nikitabobko.github.io/AeroSpace/commands#resize
# TODO Use plus/minus
ctrl-alt-shift-minus = 'resize smart -100'    # 5% of total screen size
ctrl-alt-shift-backtick = 'resize smart +100'

#################
# WORKSPACES
#################
shift-ctrl-alt-1 = 'move-workspace-to-monitor --wrap-around next'

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace
shift-ctrl-alt-f1 = 'workspace 0-0'
shift-ctrl-alt-f2 = 'workspace 1-0'
shift-ctrl-alt-f3 = 'workspace 2-0'
shift-ctrl-alt-f4 = 'workspace 3-0'
shift-ctrl-alt-f5 = 'workspace 4-0'
shift-ctrl-alt-f6 = 'workspace 0-1'
shift-ctrl-alt-f7 = 'workspace 1-1'
shift-ctrl-alt-f8 = 'workspace 2-1'
shift-ctrl-alt-f9 = 'workspace 3-1'
shift-ctrl-alt-f10 = 'workspace 4-1'
shift-ctrl-alt-f11 = 'workspace 0-2'
shift-ctrl-alt-f12 = 'workspace 1-2'
shift-ctrl-alt-f13 = 'workspace 2-2'
shift-ctrl-alt-f16 = 'workspace 3-2'
shift-ctrl-alt-f17 = 'workspace 4-2'

# See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
cmd-shift-ctrl-alt-f1 = 'move-node-to-workspace 0-0'
cmd-shift-ctrl-alt-f2 = 'move-node-to-workspace 1-0'
cmd-shift-ctrl-alt-f3 = 'move-node-to-workspace 2-0'
cmd-shift-ctrl-alt-f4 = 'move-node-to-workspace 3-0'
cmd-shift-ctrl-alt-f5 = 'move-node-to-workspace 4-0'
cmd-shift-ctrl-alt-f6 = 'move-node-to-workspace 0-1'
cmd-shift-ctrl-alt-f7 = 'move-node-to-workspace 1-1'
cmd-shift-ctrl-alt-f8 = 'move-node-to-workspace 2-1'
cmd-shift-ctrl-alt-f9 = 'move-node-to-workspace 3-1'
cmd-shift-ctrl-alt-f10 = 'move-node-to-workspace 4-1'
cmd-shift-ctrl-alt-f11 = 'move-node-to-workspace 0-2'
cmd-shift-ctrl-alt-f12 = 'move-node-to-workspace 1-2'
cmd-shift-ctrl-alt-f13 = 'move-node-to-workspace 2-2'
cmd-shift-ctrl-alt-f16 = 'move-node-to-workspace 3-2'
cmd-shift-ctrl-alt-f17 = 'move-node-to-workspace 4-2'

#################
# MODES
#################

# See: https://nikitabobko.github.io/AeroSpace/commands#mode
ctrl-shift-alt-leftSquareBracket = 'mode join'

[mode.join.binding]
ctrl-alt-shift-left = ['join-with left', 'mode main']
ctrl-alt-shift-down = ['join-with down', 'mode main']
ctrl-alt-shift-up = ['join-with up', 'mode main']
ctrl-alt-shift-right = ['join-with right', 'mode main']
ctrl-shift-alt-leftSquareBracket = 'balance-sizes'

###########################################
# Assign some apps to specific workspaces #
###########################################
[[on-window-detected]]
if.app-id = 'com.todoist.mac.Todoist'
run = ['move-node-to-workspace 1-0']

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = ['move-node-to-workspace 1-0']

[[on-window-detected]]
if.app-id = 'im.Beeper'
run = ['move-node-to-workspace 1-0']

[[on-window-detected]]
if.app-id = 'md.obsidian'
run = ['move-node-to-workspace 2-0']

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
# if.during-aerospace-startup = true
run = ['move-node-to-workspace 1-1']

[[on-window-detected]]
if.app-id = 'com.cron.electron'
run = ['move-node-to-workspace 1-2']

[[on-window-detected]]
if.app-id = 'com.readdle.SparkDesktop'
run = ['move-node-to-workspace 1-2']
